<div>
  <h1> Hello there! </h1>
</div>



<form name="input" action="/store_data" method="post">
  <h4> What's your name? </h4>
  <input type="text" name="input_name">
  <input type="submit" value="Go!">
</form>
