<div>
  <h1> Hello there! </h1>
</div>



<form name="input" action="/store_data" method="post">
  <h4> What's your name? </h4>
  <input type="text" name="input_name">

  <h4> When's your birthday? </h4>
  <label for="input_day">
    Day:
    <input type="text" name="input_day">
  </label>

  <label for="input_month">
    Month:
    <input type="text" name="input_month">
  </label>

  <input type="submit" value="Go!">
</form>
